h1,h2,h3,h4,h5{
    font-family: 'Merriweather', serif;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
a, li, button{
    font-family: 'Roboto', sans-serif;
}
span{
    font-family: 'Roboto', sans-serif;
}
